@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    justify-content: center;
    align-items: center;
}

.row {
    margin: 2px 0;
}

.row input {
    margin: 10px 1px;
    padding: 18px 30px;
    font-size: 1rem;
}

.button {
    padding: 20px;
    margin: 0 2px;
    width: 60px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}